<%= render 'shared/header', user: @user %>
The user is: <%= @user.username %>

<br><BR>

The month id is: <%= @month.id %>
<br><BR>

The year is: <%= @month.year %>

<h3><%= "Month is: #{@month.name} #{@month.year}" %></h3>
<div class='control-group'>
  <table>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <th colspan="<%= @month.num_uniq_project_codes + 1 %>" border="1px solid black">
        Project Codes
      </td>
    </tr>
    <tr>
      <th>

      </th>
      <th>
        Date
      </th>
      <!-- # @month.project_codes - provide unique list of month's allocations. -->
      <% @month.unique_project_codes.each do |project_code| %>
        <th>
          <%= project_code %>
        </th>
      <% end %>
      <th>
        Total
      </th>
    </tr>

    <!-- Generate rows of Days ###############  -->
    <% @month.days.each do |day| %>
      <tr>
        <td>

        <%= link_to 'Show', user_month_day_path(@user,@month,day) %>
        |
        <%= link_to 'Edit', edit_user_month_day_path(@user,@month,day) %>
        </td>
        <td>
          <%= day.number %>
        </td>

          <% days_project_codes = day.allocations.map do |a| %>
            <% a.project_code %>
          <% end %>

          <% @month.unique_project_codes.each do |project_code| %>
            <td>
            <% if days_project_codes.include? project_code %>
              <% day.allocations.each do |a| %>
                <% if a.project_code == project_code %>
                  <%= a.percentage %>%
                <% end %>
              <% end %>
            <% else %>
              0%
            <% end %>
            </td>
          <% end %>

        <td>
          <%= day.sum_percentages %>%
        </td>
      </tr>
    <% end %>

    <!-- Generate final row which presents averaged percentage per project code -->
    <tr>
      <td></td>
      <td></td>
      <% @month.unique_project_codes.each do |project_code| %>
        <td> <%= @month.project_code_percentage_average(project_code).round %>% </td>
      <% end %>

      <td> <%= @month.sum_project_code_percentage_averages.round %>% </td>
    </tr>


  </table>
</div>

<hr>
