The user is: <%= @user.username %>

<br><BR>

The month id is: <%= @month.id %>
<br><BR>

The year is: <%= @month.year %>
<br><BR>
The month is: <%= @month.name %>
<br><BR>


<%= link_to 'Add new Day', new_user_month_day_path(@user,@month) %>



<h3><%= "Month is: #{@month.name} #{@month.year}" %></h3>
<table>
  <!-- headers -->
  <tr>
    <td>
    </td>
    <td>
    </td>
    <th colspan="2" border="1px solid black">
      Project Codes
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th>

    </th>
    <th>
      Date
    </th>
    <th>
      Project Code
    </th>
    <th>
      Percentage
    </th>
  </tr>

  <% @month.days.each do |day| %>
    <tr>
      <td>
        <%= link_to 'Edit', edit_user_month_day_path(@user,@month,day) %>
      </td>
      <td>
        <%= day.name %>
      </td>
    </tr>
  <% end %>
</table>

<h2>
  Test
</h2>


<table>
  <tr>
    <th colspan="2">
      something  asdsd
    </th>
  </tr>


  <tr>
    <th>
      1
    </th>
    <th>
      2
    </th>
  </tr>

</table>
