The user is: <%= @user.username %>

<br><BR>

The month id is: <%= @month.id %>
<br><BR>

The year is: <%= @month.year %>
<br><BR>
The month is: <%= @month.name %>
<br><BR>


<%= link_to 'Add new Day', new_user_month_day_path(@user,@month) %>



<h3><%= "Month is: #{@month.name} #{@month.year}" %></h3>
<div class='control-group'>
  <table>
    <!-- headers -->
    <tr>
      <td>
      </td>
      <td>
      </td>
      <%  %>
      <th colspan="<%= @month.most_number_of_allocations %>" border="1px solid black">
        Project Codes
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <th>

      </th>
      <th>
        Date
      </th>
      <th>
        Project Code
      </th>
    </tr>

    <% @month.days.each do |day| %>
      <tr>
        <td>
          <%= link_to 'Edit', edit_user_month_day_path(@user,@month,day) %>
        </td>
        <td>
          <%= day.number %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<h2>
  Test
</h2>
