<%= render 'shared/errors', obj: @user%>

<%= form_for @user do |f| %>
  <div class='control-group'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div><br>
  <div class='control-group'>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div><br>

  <div class='control-group'>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div><br>
  <div class='control-group'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div><br>
  <div class='control-group'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div><br>

  <div class='control-group'>
    <%= f.label :Department %>
    <%= f.collection_select :department_id, Department.all, :id, :department_name, prompt: true %>
  </div><br>

  <%= f.submit 'Submit',class:'btn btn-success'  %>
<% end %>
