<%= render 'shared/flashes' %>

<div>
  <h4 class='page-header'>
    Welcome <%= @user.first_name %>!
  </h4>
</div>


<h5>Months Available</h5>

<%= link_to 'Add Month', new_user_month_path(@user) %>



<% if @user.months.any? %>
  <ul class='well'>
    <% @user.months.each do |month| %>
        <li>
          <%= link_to "#{month.year.to_s} #{month.name}", user_month_path(@user.id, month.id) %>

        <%= " | " %>

        <%= link_to 'Delete', user_month_path(@user, month), {method:'delete'} %>

        </li>
        <br>
    <% end %>
  </ul>
<% end %>
