<%= render 'shared/flashes' %>

<h3>Edit Day </h3>

  <b>Day</b>
  <br>
  <br>
  User: <%= @user.username %>
  <br>
  <%= @month.year %> <%= @month.name %> <%= add_suffix_to_number @day.number %>

<%= link_to 'Add allocation', new_user_month_day_allocation_path(@user, @month, @day) %>
<br>

  <table>
      <tr>
        <th colspan='11'>
          Allocations
        </th>
      </tr>
<%= form_tag user_month_day_path(@user,@month,@day), {method:'PATCH'} do %>

  <tr>

<!--  -->
  <% if @allocations.count > 0 %>
    <% i = 0 %> <!-- To keep track of itertaion in next each loop -->
    <% @allocations.each do |a| %>
      <td>
      <%= text_field_tag("project_code_#{i}_name", value="#{a.project_code}") %>
      <% i += 1 %>
      </td>
    <% end %>
  <% end %>

  <!-- Empty fields -->
  <% empty_fields = 10 - @allocations.count %>
  <% if empty_fields != 0  %>
    <!-- Generate empty pairs of fields for project codes and percentages -->
    <% empty_fields.times do |i| %>
      <td>
      <%= text_field_tag "project_code_#{@allocations.count + i}_name" %>
      </td>
    <% end %>
  <% end %>
  <!-- Total ################################### -->
  <td>
  Total
  </td>
  </tr>

  <tr>
  <% i = 0 %> <!-- To keep track of itertaion in next each loop -->
  <% @allocations.each do |a| %>
    <td>
    <%= number_field_tag("project_code_#{i}_perc", value="#{a.percentage}") %>
    <% i += 1 %>
    </td>
  <% end %>

  <% if empty_fields != 0  %>
    <!-- Generate empty pairs of fields for project codes and percentages -->
    <% empty_fields.times do |i| %>
      <td>
      <%= number_field_tag "project_code_#{@allocations.count + i}_perc" %>
      </td>
    <% end %>
  <% end %>

  <!-- Summation of percentages -->
  <td>
  <%= @allocations.reduce(0){|m,a| m + a.percentage} %>
  </td>
  </tr>

  </table>
  <%= submit_tag %> <!-- So submit button appears outside of table -->
<% end %>
