<%= render 'shared/flashes' %>
<%  %>


<h3>Edit Day </h
<h3>

  <b>Day</b>
  <br>
  <br>
  User: <%= @user.username %>
  <br>
  <%= @month.year %> <%= @month.name %> <%= add_suffix_to_number @day.number %>
</h3>

<%= link_to 'Add allocation', new_user_month_day_allocation_path(@user, @month, @day) %>
<br>

  <!-- TODO: use form_tag to create dynamic table of project codes and percentages -->



  <table>
      <tr>
        <th colspan='<%= @day.allocations.count + 1 %>'>
          Allocations
        </th>
      </tr>

    <form action='<%= user_month_day_path(@user,@month,@day)%>' method='PATCH' %>
      <tr>
        <% i = 0 %> <!-- To keep track of itertaion in next each loop -->
        <% @allocations.each do |a| %>
          <td>
            <%= text_field_tag("project_code_#{i}", value="#{a.project_code}") %>
            <% i += 1 %>
          </td>

        <% end %>

        <td>
          Total
        </td>
      </tr>

    <!-- TODO: Use a For loop to generate form fields for every single project code -->
    <tr>
        <% @allocations.each do |a| %>
          <td>
            <%= number_field_tag("#{a.project_code}", value="#{a.percentage}") %>
          </td>

        <% end %>

      <td>
        <%= @allocations.reduce(0){|m,a| m + a.percentage} %>
      </td>




    </tr>

  </table>

        <%= submit_tag %> <!-- So submit button appears outside of table -->
      </form>
